/* Starting MOBILE XS FIRST */
/************************************************
    MOBILE S
*************************************************/

@media screen and (min-width: 600px) {

    .sidebar {
        width: 200px;
        padding: 10px 20px;
    }

    .logo-small {
        display: none;
    }

    .logo-big {
        display: inline-block;
        width: 70%;
    }

    .playlist {
        display: inline;
    }

    .display {
        display: flex;
    }

    .menu-img {
        width: 15%;
    }

    hr {
        display: block;
    }
}


/************************************************
    TABLET
*************************************************/

@media screen and (min-width: 700px) {

    .album {
        width: calc(100% / 4 - (10px * 3) / 4);
    }

}


/************************************************
    DESKTOP
*************************************************/
@media screen and (min-width: 1100px) {

    .album {
        width: calc(100% / 6 - (10px * 5) / 6);
    }
}