/*************************************************
    GENERAL SETTINGS
**************************************************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

.wrapper {
    width: 100%;
    height: calc(100vh - 100px);
    display: flex;
    align-items: stretch;

    /* debug */
    /* background-color: rgb(138, 30, 122); */
}

.content {
    flex-grow: 1;
    background-color: rgb(22, 23, 24);
    overflow-y: scroll;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: white;
}

/* Custom properties */
/* :root {
  --
} */

/************************************************
    UTILITIES & LAYOUTS
*************************************************/

.mb-10 {
    margin-bottom: 10px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-50 {
    margin-bottom: 50px;
}

.flex {
    display: flex;
}

/* TEXT */
*/ .text-center {
    text-align: center;
}

.text-cptlz {
    text-transform: capitalize;
}

.display {
    display: none;
}

/* Common */

h1,
h2,
h4 h5 {
    padding-left: 20px;
}

.playlist-title {
    text-transform: uppercase;
    padding-top: 30px;
}

a {
    /* padding: 20px 30px; */
    color: inherit;
    text-decoration: none;
    display: contents;
    justify-content: center;
}

li {
    list-style: none;
    text-decoration: none;
}

.circle {
    border-radius: 50%;
}

.btn {
    width: 220px;
    height: 40px;
    display: inline-block;
    justify-content: center;
    background-color: black;
    color: white;
    text-transform: uppercase;
    border: solid 1px white;
    border-radius: 30px;
    align-content: center;
    padding-left: 22px;
}

span {
    margin-left: 5px;
}

.bg-grey {
    background-color: grey;
}

.white {
    color: white;
}

.grey {
    color: grey;
}

/************************************************
   SECTIONS
*************************************************/

/* WRAPPER */


/*  Side bar section*/
.logo {
    padding-bottom: 10px;
}

.logo-big {
    display: none;
}

.sidebar {
    width: 70px;
    padding: 20px 20px 10px 20px;
    line-height: 30px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    color: grey;
    flex-shrink: 0;
    background-color: rgb(0, 0, 0);
    overflow: auto;
    ;
}

.menu {
    position: sticky;
    top: 0;
    left: 0;
}

.menu-img {
    width: 70%;
    margin-left: 4px;
}

.download-img {
    width: 20px;
    opacity: 0.7;
    margin-left: 5px;
}

.opacity {
    opacity: 0.7;
}

.profile-img {
    margin-left: 3px;
    border-radius: 50%;
    background-color: gray;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 30px;
    height: 30px;
}

.square-plus {
    width: 30px;
    height: 30px;
    background-color: grey;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
}

.add-square-plus {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.playlist {
    display: none;
}

/* Main section */

.main-header {
    width: 100%;
    height: 100px;
    background-color: rgb(10, 10, 10);

    position: sticky;
    top: 0;
    left: 0;

    display: flex;
    justify-content: end;
    align-items: center;
}


.main-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow-y: auto;
}

.main-nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 30px;
    text-transform: uppercase;
    color: grey;
}

.nav-card {
    padding: 20px 20px;
    overflow-y: auto;
    /* position: inherit !important; */
}

.albums-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 40px 20px;

}

.album {
    width: calc(100% / 2 - 10px / 2);
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: center;
}


/* Footer section */

footer {
    height: 100px;
    background-color: rgb(38, 38, 39);
    padding: 20px;
    position: sticky;
}

.action-bar {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
}

.actbar-img {
    width: 40px;
    height: 40px;
}

.actbar-album {
    width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.actbar-audio {
    width: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}

.player-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.actbar-icons-left {
    color: grey;
}

.inline {
    display: inline-block;
}

.actbar-player {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.small-playbar {
    width: 80px;
    height: 5px;
    background-color: grey;
}

.big-playbar {
    width: 250px;
    height: 5px;
    background-color: grey;
}

/************************************************
   INTERACTIVE LAYOUT
*************************************************/
/* .menu::before {
    content: "ciao Inizio";
}

.menu::after {
    content: "ciao Fine";
} */

a:hover {
    color: rgb(255, 255, 255);
}

.menu .flex {
    position: relative;
}

.menu .flex:hover::before {
    content: "";
    height: 30px;
    width: 10px;
    background-color: rgb(49, 201, 64);
    position: absolute;
    top: 0;
    left: -25px;
}

.main-nav .nav-card :hover::before {
    color: white;
    content: "";
    height: 5px;
    width: 50px;
    background-color: rgb(49, 201, 64);
    position: absolute;
    top: 50px;
    left: 35px;
    overflow-y: hidden;
}

.main-nav .nav-card {
    position: relative;
}

.square-plus :hover {
    color: white;
}

.inline :hover {
    color: white;
    text-decoration: underline;
}

.actbar-icons-left :hover {
    color: white;
}

/* non funziona */

.album .back {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.album :hover .back{
    z-index: 0;
}


/* non funziona */
.small-playbar :hover ::before {
    color: white;
    content: "ciao";
    border: 30px solid white;
    height: 5px;

    position: absolute;
    top: 0;
    left: 0;
}

.actbar-audio .small-playbar  {
    position: relative;
}

.btn .a :hover {
    width: 250px;
    height: 50px;

}