/*************************************************
    GENERAL SETTINGS
**************************************************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

.wrapper {
    width: 100%;
    height: calc(100vh - 100px);
    display: flex;
    align-items: stretch;

    /* debug */
    /* background-color: rgb(138, 30, 122); */
}

.content {
    flex-grow: 1;
    background-color: rgb(22, 23, 24);
    overflow-y: scroll;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: white;
}

/************************************************
    UTILITIES & LAYOUTS
*************************************************/

.container {
    /* width: 1140px;
    margin: 0 auto;
    padding: 0 20px; */
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-30 {
    margin-bottom: 30px;
}

.flex {
    display: flex;
}

/* TEXT */
*/ .text-center {
    text-align: center;
}

.text-cptlz {
    text-transform: capitalize;
}

.display {
    display: none;
}

/* Common */

h1,
h2,
h5 {
    padding-left: 20px;
}

.playlist-title {
    text-transform: uppercase;
    padding-top: 30px;
}

a {
    padding: 20px 30px;
    color: inherit;
    text-decoration: none;
    display: contents;
    justify-content: center;
}

li {
    list-style: none;
    text-decoration: none;
}

.circle {
    border-radius: 50%;
}

.btn {
    display: inline-block;
    background-color: black;
    color: white;
    font-size: small;
    padding: 8px 15px;
    text-decoration: none;
    border: solid 1px white;
    border-radius: 30px;
    text-transform: uppercase;

    margin-right: 5px;
}

span{
    margin-left: 5px;
}

.bg-grey{
    background-color: grey;
}

.white{
    color: white;
}

/************************************************
   SECTIONS
*************************************************/

/* WRAPPER */


/*  Side bar section*/
.logo {
    padding-bottom: 10px;
}

.logo-big {
    display: none;
}

.sidebar {
    width: 70px;
    padding: 20px 20px 10px 20px;
    line-height: 30px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    color: grey;
    flex-shrink: 0;
    background-color: rgb(0, 0, 0);
    overflow: auto;;
}

.menu-img {
    width: 70%;
    margin-left: 4px;
}

.download-img {
    width: 20px;
    opacity: 0.7;
    margin-left: 5px;
}

.opacity{
    opacity: 0.7;
}

.active{
    /* width: 40px;
    height: 20px;
    background-color: aquamarine;
    display: inline-block; */
    border-bottom: 30px solid lightgreen;
}

.profile-img {
    margin-left: 3px;
    border-radius: 50%;
    background-color: gray;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 30px;
    height: 30px;
}

.square-plus{
    width: 30px;
    height: 30px;
    background-color: grey;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
}

.add-square-plus{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.playlist {
    display: none;
}

/* Main section */
.main-header {
    width: 100%;
    height: 100px;
    background-color: rgb(10, 10, 10);

    position: sticky;
    top: 0;
    left: 0;

    display: flex;
    justify-content: end;
    align-items: center;
}


.main-nav {
    display: flex;
    flex-wrap: wrap;
}

.main-nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 30px;
    text-transform: uppercase;
}

.nav-card {
    padding: 20px 20px;
}

.albums-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 40px 20px;

}

.album {
    width: calc(100% / 2 - 10px / 2);
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: center;
}


/* Footer section */

footer {
    height: 100px;
    flex-shrink: 0;
    background-color: rgb(38, 38, 39);
    padding: 20px;
}

.action-bar {
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

.actbar-album,
.actbar-audio {
    width: 250px;
    background-color: aquamarine;
}

.actbar-player {
    width: 40%;
    background-color: bisque;
}